*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    font-family: 'IBM Plex Mono', monospace;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-bottom: 2px gray solid;
    height: 10vh;
    width: 100%;
}
.logo img{
    height: 8vh;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: rgb(0, 0, 0);
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.resumen{
    width: 100%;
    height: 70vh;
    background-image: url(/imgs/aloy-fondo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.resumen h1{
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.resumen p{
    width: 50%;
    color: white;
    /* margin-left: 100px; */
    margin-top: 40px;
}
.p1{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    height: auto;
    color: rgb(0, 0, 0);
    width: 100%;
    background:url(/imgs/fondo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100vh;
}
.p1 h2{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-weight:400;
    font-size: 3.5rem;
}
.p1 p{
    width: 30vw;
    margin-right: 100px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.719);
}
.p2{
    /* background-color: rgba(0, 0, 0, 0.137); */
    width: 100%;
    display: flex;
}
.c1, .c2, .c3{
    height: auto;
    color: white;
    width: 33%;
    background-color: rgba(68, 63, 63, 0.5);
    margin: 0 20px;
    padding:20px 15px ;
}
.p3{
    margin: 40px 0;
    width: 100%;
    height: auto;
    /* background-color: rgba(37, 37, 37, 0.63); */
    background-image: url(/imgs/corruptor.png);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: right;
    text-align: center;
}
.p3 h2{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-weight:400;
    font-size: 3.5rem;
}
.parrafo-2{
    margin-left: 100px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.719);
}
.p4{
    display: flex;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.137); */
    background-color:  rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}
.p4 div{
    height: auto;
    color: white;
    width: 33%;
    background: rgb(68,63,63);
    background: linear-gradient(180deg, rgba(68,63,63,0.9528186274509804) 0%, rgba(0,0,0,1) 100%);
    margin: 0 20px;
    padding:20px 15px ;
}
.armas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    padding-bottom: 30px;
}
.armas h2{
    margin: 40px 0;
    font-weight: 400;
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
}
.armas h2 a{
    color: white;
    text-decoration: none;
}
.armas picture{
    display: flex;
    justify-content: center;
    width: 100%;
}
.armas img{
    width: 80%;
}
.p5{
    width: 100%;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}
.p5 h2{
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-weight:400;
    font-size: 3.5rem;
}
.p5 picture img{
    height: 35vh;
    margin-right: 50px;
}
.p5 .parrafo-3{
    width: 30vw;
    color: white;
    margin-left: 100px;
    margin-bottom: 40px;
    margin: 30px 0 40px 100px;
}
.p6{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background: rgb(99,99,99);
    background: linear-gradient(180deg, rgba(99,99,99,1) 0%, rgba(255,255,255,1) 100%);
}
.p6 div{
    height: auto;
    color: white;
    width: 33%;
    background: rgb(99,99,99);
    background: linear-gradient(180deg, rgba(99,99,99,1) 0%, rgba(59,59,59,1) 100%);
    margin: 0 20px;
    padding:20px 15px ;
}
.p7{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(106,77,0,1) 52%, rgba(42,30,0,1) 100%);
}
.p7 .pjs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.p7 .maquinas{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.p7 img{
    width: 80vw;
}
.p7 h2{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 3.5rem;
}
.p7 h2 a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.footer{
    height: auto;
    width: 100%;
    background-image: url(/imgs/Logo_Horizon_Zero_Dawn.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}
.footer span{
    width: 100%;
}
.footer ul{
    display: flex;
    flex-direction: column;
}
.footer ul .red{
    display: flex;
    margin: 8px 0;
    align-items: center;
}
.footer ul li a{
    text-decoration: none;
    align-items: center;
}
.footer ul li img{
    width: 30px;
    margin-right: 5px;
}

/* @media (max-width: 1500px){
    .p1{
        background-size: 70vh;
    }

} */