*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    font-family: 'IBM Plex Mono', monospace;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-bottom: 2px gray solid;
    height: 10vh;
    width: 100%;
}

.inactive{
    display: none;
}
.logo img{
    height: 8vh;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: rgb(0, 0, 0);
}
/* .container{
    margin: 0 200px;
} */
.resumen-pj{
    /* margin: 0 200px; */
    /* width: 100%; */
    background-image: url(../imgs/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    justify-content: end;
}
.resumen-pj h1{
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 20px;
}
.resumen-pj h3{
    width: 100%;
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
    margin-right: 20px;
}
.resumen-pj p{
    color: white;
    width: 30vw;
    text-align: justify;
    margin-right: 20px;
    padding-bottom: 150px;
    margin-bottom: 20px;
}
.personajes{
    width: 100%;
    padding-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
} 
.personajes-button{
    text-align: center;
    display: flex;
    justify-content: center;
}
.personajes-button button{
    padding: 8px 0;
    margin: 10px;
    width: 100px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.title-personaje{
    margin-top: auto;
    margin-bottom: auto;
}

.personajes img{
    width: 18%;
    /* margin-left: 100px; */
}
.personajes span{
    width: 40%;
    text-align: justify;
}
.personajes h2{
    text-align: center;
    font-size: 3rem;
}
.personajes figcaption{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.personajes .rost{
    width: 100%;
    margin-bottom: 20px;
}
.personajes .rost h2{
    font-weight: 100;
}

.personajes .varl{
    width: 100%;
    margin-bottom: 20px;
}
.personajes .varl h2{
    font-weight: 100;
}

.personajes .avad{
    width: 100%;
    margin-bottom: 20px;
}
.personajes .avad h2{
    font-weight: 100;
}

.personajes .erend{
    width: 100%;
    margin-bottom: 20px;
}
.personajes .erend h2{
    font-weight: 100;
}

.personajes .vanasha{
    width: 100%;
    margin-bottom: 20px;
}
.personajes .vanasha h2{
    font-weight: 100;
}

.maquinas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 0, 0.884);
    background-image: url(../imgs/maquinas-pelea.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.maquinas .mq-1{
    background-color: rgba(90, 90, 90, 0.685);    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    align-items: center;
}
.maquinas .mq-1 h2{
    width: 100%;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 10px;
}
.maquinas .mq-1 p{
    width: 70%;
}
.maquinas img{
    width: 100%;
    padding-left: 10px;
}
.maquinas h4{
    color: white;
    font-size: 2rem;
    margin: 10px 0 10px 5px;
}
.maquinas p{
    color: white;
    padding:0 15px;
    margin-bottom: 20px;
    text-align: justify;
}
.maquinas .mq-2{
    background-color: rgba(90, 90, 90, 0.685);    width: 50%;
    height:auto;
}
.maquinas .mq-3{
    background-color: rgba(90, 90, 90, 0.685);
    width: 50%;
}
.maquinas .mq-3 figcaption{
    display: flex;
    flex-direction: column;
}
.maquinas .mq-3 figcaption .tormenta{
    width: 56%;
    align-self: center;
}

.footer{
    height: auto;
    width: 100%;
    background-image: url(../imgs/Logo_Horizon_Zero_Dawn.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}
.footer span{
    width: 100%;
}
.footer ul{
    display: flex;
    flex-direction: column;
}
.footer ul .red{
    display: flex;
    margin: 8px 0;
    align-items: center;
}
.footer ul li a{
    text-decoration: none;
    align-items: center;
    color: black;
}
.footer ul li img{
    width: 30px;
    margin-right: 5px;
}
