*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    font-family: 'IBM Plex Mono', monospace;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.295);
    padding: 20px;
    border-bottom: 2px gray solid;
    height: 10vh;
}
.logo img{
    width: 250px;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    margin: 0 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.p1{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    height: auto;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    width: 100%;
    background:url(/imgs/fondo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80vh;
}
.p1 h2{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-weight:400;
}
.p1 p{
    width: 30vw;
    margin-right: 100px;
    margin-bottom: 40px;
}
.p2{
    /* background-color: rgba(0, 0, 0, 0.137); */
    width: 100%;
    display: flex;
}
.c1, .c2, .c3{
    height: auto;
    color: white;
    width: 33%;
    background-color: rgba(68, 63, 63, 0.5);
    margin: 0 20px;
    padding:20px 15px ;
}
.p3{
    margin: 40px 0;
    width: 100%;
    height: auto;
    font-size: 2rem;
    /* background-color: rgba(37, 37, 37, 0.63); */
    background-image: url(/imgs/corruptor.png);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: right;
    text-align: center;
}
.p3 h2{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-weight:400;
}
.parrafo-2{
    margin-left: 100px;
    width: 30vw;
}
.p4{
    display: flex;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.137); */
    background-color:  rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);;
}
.p4 div{
    height: auto;
    color: white;
    width: 33%;
    background: rgb(68,63,63);
    background: linear-gradient(180deg, rgba(68,63,63,0.9528186274509804) 0%, rgba(0,0,0,1) 100%);
    margin: 0 20px;
    padding:20px 15px ;
}
.p5{
    width: 100%;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 100%);
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}
.p5 h2{
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-weight:400;
}
.p5 picture img{
    height: 40vh;
    margin-right: 20px;
}
.p5 .parrafo-3{
    width: 30vw;
    color: white;
    margin-left: 100px;
}

.footer{
    height: 10vh;
    background-color: aqua;
}

/* @media (max-width: 1500px){
    .p1{
        background-size: 70vh;
    }

} */